<form nz-form [formGroup]="rfDataModal" nzLayout="horizontal">
    <nz-form-item>
        <nz-form-label nzFor="ten" [nzSm]="8" nzRequired>Tên</nz-form-label>
        <nz-form-control [nzSm]="16" nzErrorTip="Giá trị bắt buộc!">
            <input nz-input formControlName="ten"/>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item nzGutter="6">
        <nz-form-label nzFor="moTa" [nzSm]="8">Mô tả</nz-form-label>
        <nz-form-control [nzSm]="16">
            <input nz-input formControlName="moTa">
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label nzFor="sortOrder" [nzSm]="8">Thứ tự</nz-form-label>
        <nz-form-control [nzSm]="6">
            <nz-input-number formControlName="sortOrder"></nz-input-number>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label nzFor="isActive" [nzSm]="8">Trạng thái</nz-form-label>
        <nz-form-control [nzSm]="6">
            <label nz-checkbox formControlName="isActive"></label>
        </nz-form-control>
    </nz-form-item>
</form>
<div *nzModalFooter>
    <button type="button" nz-button nzType="default" (click)="close()">Đóng</button>
    <button type="button" [nzLoading]="saving" nz-button nzType="primary" (click)="save()"><i nz-icon
                                                                                              nzType="save"></i>Lưu
    </button>
</div>
