<nz-tabset nzType='card' class='parentTab' [(nzSelectedIndex)]="indexTab">
    <nz-tab nzTitle='Xét nghiệm huyết học' nzForceRender='true'>
        <nz-row nzGutter='30'>
            <nz-col nzLg='12' nzMd='12' nzSm='24' nzXs='24'>
                <div class='bg-white'>
                    <h3>Số người xét nghiệm anti-HCV: <strong>{{ this.tongSangLoc }}</strong>
                    </h3>
                    <div class='chart' id='vgc-csyt-screening-test' style='width: 100%; height: 450px;'></div>
                    <div class='lstlabel text-center'>
                        <ul>
                            <li><span style='background: #5491CD'></span>Nam {{vgccsytscreeningtestlabel[0]}}({{vgccsytscreeningtestlabel[1]}}%)
                            </li>
                            <li><span style='background: #FFC2BC'></span>Nữ {{vgccsytscreeningtestlabel[2]}}({{vgccsytscreeningtestlabel[3]}}%)
                            </li>
                        </ul>
                        <p>Số người xét nghiệm anti-HCV theo giới tính và nhóm tuổi</p>
                    </div>
                </div>
            </nz-col>
            <nz-col nzLg='12' nzMd='12' nzSm='24' nzXs='24'>
                <div class='bg-white'>
                    <h3>Tỷ lệ người có kết quả XN anti-HCV dương tính:
                        <strong>{{ sangLocDuongTinh }}
                            ({{sangLocDuongTinhPercent.toFixed(1)}}%)</strong>
                    </h3>
                    <div class='chart' id='vgc-csyt-screening-test-positive'
                         style='width: 100%; height: 450px;'></div>
                    <div class='lstlabel text-center'>
                        <ul>
                            <li><span style='background: #5491CD'></span>Nam {{vgccsytscreeningtestpositivelable[0]}}({{vgccsytscreeningtestpositivelable[1]}}%)
                            </li>
                            <li><span style='background: #FFC2BC'></span>Nữ {{vgccsytscreeningtestpositivelable[2]}}({{vgccsytscreeningtestpositivelable[3]}}%)
                            </li>
                        </ul>
                        <p>Số người xét nghiệm anti-HCV dương tính theo giới tính và nhóm tuổi</p>
                    </div>
                </div>
            </nz-col>
        </nz-row>
        <div class='bg-white'>
            <h3>Kết quả xét nghiệm anti-HCV theo tháng</h3>
            <div class='chart' id='vgc-csyt-chart-month' style='width: 100%; height: 500px;'></div>
        </div>
    </nz-tab>
    <nz-tab nzTitle='Chẩn đoán và Điều trị' nzForceRender='true'>
        <nz-row nzGutter='30'>
            <nz-col nzLg='12' nzMd='12' nzSm='24' nzXs='24'>
                <div class='bg-white'>
                    <div class='header'>Tỷ lệ người bệnh được xét nghiệm khẳng định viêm gan C:
                        <strong>{{VGC_XetNghiemKhangDinh}}({{(VGC_XetNghiemKhangDinh*100/sangLocDuongTinh).toFixed(2)}}%)</strong>
                    </div>
                    <div class='chart' id='vgc-csyt-chart-sex-cag-test'
                         style='width: 100%; height: 230px;'></div>
                    <div class='lstlabel text-center'>
                        <p>Số người có anti-HCV dương tính được
                            xét nghiệm khẳng định viêm gan C theo giới tính</p>
                    </div>
                    <div class='chart' id='vgc-csyt-chart-old-cag-test'
                         style='width: 100%; height: 300px;'></div>
                    <div class='lstlabel text-center'>
                        <p>Số người có anti-HCV dương tính được xét
                            nghiệm khẳng định viêm gan C theo nhóm tuổi</p>
                    </div>
                </div>
            </nz-col>
            <nz-col nzLg='12' nzMd='12' nzSm='24' nzXs='24'>
                <div class='bg-white'>
                    <div class='header'>Tỷ lệ người bệnh được chẩn đoán viêm gan C:
                        <strong>{{VGC_XetNghiemKhangDinhChuanDoan}} <span
                            *ngIf="VGC_XetNghiemKhangDinh > 0">({{(VGC_XetNghiemKhangDinhChuanDoan * 100 / VGC_XetNghiemKhangDinh).toFixed(1)}}
                            %)</span></strong>
                    </div>
                    <div class='chart' id='vgc-csyt-chart-sex-cag-positive'
                         style='width: 100%; height: 230px;'></div>
                    <div class='lstlabel text-center'>
                        <p>Số người được xét nghiệm khẳng định viêm gan C và được chẩn đoán viêm gan C theo giới
                            tính</p>
                    </div>
                    <div class='chart' id='vgc-csyt-chart-old-cag-positive'
                         style='width: 100%; height: 300px;'></div>
                    <p class='text-center'>Số người được xét nghiệm khẳng định viêm gan C và được chẩn đoán viêm
                        gan C theo nhóm
                        tuổi</p>
                </div>
            </nz-col>
        </nz-row>
        <nz-row nzGutter="30">
            <nz-col nzLg='12' nzMd='12' nzSm='24' nzXs='24'>
                <div class='bg-white'>
                    <div class='header'>Tỷ lệ người bệnh được chẩn đoán viêm gan C mạn được điều trị</div>
                    <div class='chart' id='vgc-csyt-chart-beingtreatment'
                         style='height: 300px;'></div>
                </div>
            </nz-col>

            <nz-col nzLg='12' nzMd='12' nzSm='24' nzXs='24'>
                <div class='bg-white'>
                    <div class='header'>Tỷ lệ người bệnh hoàn thành điều trị và khỏi bệnh (đạt SVR12)</div>
                    <div class='chart' id='vgc-csyt-chart-cure' style='width: 100%; height: 300px;'></div>
<!--                    <div class='lstlabel text-center'>-->
<!--                        <p>Số người bệnh hoàn thành điều trị và đạt SVR12</p>-->
<!--                    </div>-->
                </div>
            </nz-col>
        </nz-row>
        <nz-row nzGutter='30'>
            <nz-col nzLg='12' nzMd='12' nzSm='24' nzXs='24'>
                <div class='bg-white' style='min-height: 525px'>
                    <div class='header'>Mô hình đa bậc
                        xét nghiệm
                        và
                        điều trị viêm gan C
                    </div>
                    <div class='chart' id='vgc-csyt-chart-multi-level'
                         style='width: 100%; height: 450px;'></div>
                </div>
            </nz-col>
            <nz-col nzLg='12' nzMd='12' nzSm='24' nzXs='24'>
                <div class='bg-white'>
                    <div class='header'>Nguồn chi trả điều trị viêm gan C
                    </div>
                    <div class='chart' id='vgc-csyt-chart-treatment-insurance' style='height: 400px'></div>
                </div>
            </nz-col>
        </nz-row>
        <nz-row nzGutter='30'>
            <nz-col nzLg='12' nzMd='12' nzSm='24' nzXs='24'>
                <div class='total bg-blue'>
                    <span class='icon'><img src='../../../assets/icon-1.png' height='32' width='32'/></span>
                    <p style="line-height: 36px;">Tỷ lệ người bệnh đồng nhiễm viêm gan C/viêm gan B:
                        <strong> {{dongNhiemBC}}</strong></p>
                    <p style="line-height: 36px;">Tỷ lệ người bệnh đồng nhiễm viêm gan C/HIV:
                        <strong> {{dongNhiemCHIV}} </strong></p>
                </div>
            </nz-col>
            <nz-col nzLg='12' nzMd='12' nzSm='24' nzXs='24'>
                <div class='total bg-red'>
                    <span class='icon'><img src='../../../assets/icon-2.png' height='32' width='32'/></span>
                    <span>Số người bệnh tử vong liên quan đến Viêm Gan C:</span>
                    <strong> {{tuVong}} </strong>
                </div>
            </nz-col>
        </nz-row>
    </nz-tab>
</nz-tabset>
